<%= view_title 'Retailers' %>

<h1>Retailers</h1>
<!-- Make this viewable only by admins (is_admin?) method -->
<% if user_signed_in? %>
  <div class="crud">
    <ul>
      <li>
        <%= button_to 'Add Retailer', new_retailer_path, method: :get %>
      </li>
    </ul>
  </div>
<% end %>

<div id="retailer-list">
  <% @retailers.each do |r| %>
    <%= link_to r do %>
      <div class="retailer" id="<%= r.name %>">
        <h2><%= r.name %></h2>
        <p><%= r.description %></p>
        <p>Average Review: <b><%= r.average_review %></b></p>
      </div>
    <% end %>
  <% end %>
</div>