<h1><%= @retailer.name %></h1>
<p><%= @retailer.description %></p>

<% if user_owns_retailer?(current_user, @retailer) %>
  <ul class="crud">
    <li>
      <%= button_to 'Edit Retailer', edit_retailer_path(@retailer), method: :get %>
    </li>
    <li>
      <%= button_to 'Add Product', new_retailer_product_path(@retailer), method: :get %>
    </li>
    <li>
      <%= button_to 'Delete Retailer', delete_retailer_path(@retailer), method: :delete %>
    </li>
  </ul>
<% end %>

<% @retailer.products.each do |p| %>
  <%= link_to retailer_product_path(@retailer, p) do %>
    <div class="product" id="<%= p.id %>">
      <h3><%= p.name %></h3>
      <p><%= p.description %></p>
      <span><%= view_price(p) %></span>
    </div>
  <% end %>
<% end %>