<%= view_title "#{@product.name} | #{@retailer.name}" %>
<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<span>Price: <%= view_price(@product) %></span>

<% if is_admin? || user_owns_retailer?(current_user, @retailer)  %>
  <br>
  <div class="crud">
    <ul>
      <li>
        <%= button_to 'Edit Product', edit_retailer_product_path(@retailer, @product), method: :get %>
      </li>
      <li>
        <%= button_to 'Delete Product', retailer_delete_product_path(@retailer, @product), method: :delete %>
      </li>
    </ul>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= render partial: 'retailers/products/product_reviews/form' %>
<% end %>

<% if @product.product_reviews.any? %>
  <ul class="reviews">
    <% @product.product_reviews.each do |r| %>
      <li><%= r.rating %> | <%= r.description %></li>
    <% end %>
  </ul>
<% end %>